/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/app/google/service-account.json
/storage/logs/laravel.log
/resources/js/app.js
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
